<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('銀行基本設定', ~{::content}, ~{::pagejs})}">

<th:block th:fragment="content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">銀行基本設定</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a th:href="@{/dashboard}">首頁</a></li>
            <li class="breadcrumb-item active">銀行基本設定</li>
        </ol>
    </div>
</th:block>

<th:block th:fragment="pagejs"></th:block>

</html>
